@model IEnumerable<PaintballStore.DATA.EF.ProductType>

@{
    ViewBag.Title = "Index";
}
<br /><br />
<br /><br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProducTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProducTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductTypeId })
        </td>
    </tr>
}

</table>
