@{
    ViewBag.Title = "Home";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Name Brand Markers and Gear</h1>
                <br />
                <h2>-Custom Mask Combinations-</h2>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
              
                <a href="@Url.Action("GISportz","Products")">
                    <div>
                        <img class="brandLogo" style="height: 10rem; width:10rem;" src="~/Content/img/paintball/gi.jpg" />
                    </div>
                </a>
                 
               
            </div>
            <div class="col-xl-2 col-md-4">
                <a href="@Url.Action("Eclipse","Products")">
                    <div>

                        <img class="brandLogo" style="height: 10rem; width:10rem;" src="~/Content/img/paintball/eclipse.jpg" />

                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-md-4">
                <a href="@Url.Action("Empire","Products")">
                    <div>

                        <img class="brandLogo" style="height: 10rem; width:10rem;" src="~/Content/img/paintball/empire.png" />
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-md-4">
                
                <a href="@Url.Action("Dye","Products")">
                    <div>
                        <img class="brandLogo" style="height: 10rem; width:10rem;" src="~/Content/img/paintball/download.png" />

                    </div>
                </a>
                
            </div>
            <div class="col-xl-2 col-md-4">
                <a href="@Url.Action("HKArmy","Products")">
                    <div>

                        <img class="brandLogo" style="height: 10rem; width:10rem;" src="~/Content/img/paintball/hkarmy.jpeg" />
                    </div>
                </a>
            </div>
        </div>

    </div>
</section><!-- End Hero -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->