@model IEnumerable<PaintballStore.DATA.EF.Manufacturer>

@{
    ViewBag.Title = "Index";
}
<br /><br />
<br /><br />
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ManufacturerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ManufacturerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ManufacturerId })
        </td>
    </tr>
}

</table>
